@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
input:focus-visible {
  outline: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dark {
    background: rgba(0, 0, 0, 0.7);
  }
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 20px;
  position: relative;
  min-width: 375px;
  max-width: 660px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}